.DS_Store
.gradle
.metadata
/bin
/build
.project
.classpath
.settings
.bundle
.gradletasknamecache
reaDS/
casaDS/
.idea/
.tm_properties
.externalToolBuilders
locations.ser
*.ipr
*.iws
*.iml
*.swp
*.class
*.jar
.checkstyle
logs/
out/
*.pyc
.jsptree.index
target/
